<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/media/pic/favicon.ico">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />

    <!-- 利用二级域名，避免浏览器并发请求限制-->
    <!-- <link rel="stylesheet" href="http://cssandjs.b0.upaiyun.com/media/css/style.css">
    <link rel="stylesheet" href="http://cssandjs.b0.upaiyun.com/media/css/highlight.css">-->
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/highlight.css">
    <!-- 利用baidu的公共cdn加速-->
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
        <h1>{{ page.title }}</h1>
        </header>
        <nav>
        <span><a title="home page" class="" href="{{ site.url }}/">home</a></span>
        <span><a title="about" class="" href="{{ site.url }}/about/">about</a></span>
        <span><a title="categories" class="" href="{{ site.url }}/categories/">categories</a></span>
        <span><a title="tags" class="" href="{{ site.url }}/tags/">tags</a></span>
        <span><a title="links" class="" href="{{ site.url }}/links/">links</a></span>
        <span><a title="wishlist" class="" href="{{ site.url }}/wishlist/">wishlist</a></span>
        <span><a title="subscribe by RSS" class="" href="{{ site.url }}/feed/">subscribe</a></span>
        </nav>
        <article class="content">
        {{ content }}
        </article>
      </div>
    </div>
    <!-- 百度统计 -->
    <script>
      var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?1549f7ad016431cdb13fc62cdec3116d";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
    </script>
  </body>
</html>
